<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- TV 设备声明：非触屏、支持 leanback -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:banner="@drawable/banner"
        android:icon="@drawable/banner"
        android:label="@string/app_name"
        android:logo="@drawable/banner"
        android:supportsRtl="true"
        android:theme="@style/Theme.TvBoxApp"
        tools:targetApi="31">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.DetailsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.PlayerActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SearchActivity"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:screenOrientation="landscape" />

    </application>

</manifest>
